body {
    background:linear-gradient(to left, #8b86a3, #322e40) 
}

.navbar-custom {
    background:linear-gradient(to left, #8b86a3, #322e40)
}

.brandsize {
    font-size: 28px;
}

.bg {
    background:linear-gradient(to left, #8b86a3, #322e40) 
}